html    
    head
        title= title
        link(rel='stylesheet' href='/css/home.css')

    body
        .wrapper
            h1="Welcome"
                p="SeaReed Productions was founded in 2019. Specializing in Graphic Design, Web Development, and Audio Production"            
                    img(src="/img/srlogo.png" alt="Sea Reeds and waves with SeaReed Productions underneath")
