html    
    head
        title= title
        link(rel='stylesheet' href='/css/home.css')
    body
        .wrapper
            h1= message
            ul
                br
                br
                li
                    a(href='music') MUSIC
                br
                li
                    a(href='photography') PHOTOGRAPHY
                br
                li
                    a(href='blog') BLOG
                br
                li
                    a(href='contact') CONTACT

