html    
    head
        title= title
        link(rel='stylesheet' href='/css/photos.css')
    body
        .bg-image.img1
        .bg-image.img2
        .bg-image.img3
        .bg-image.img4
        .bg-image.img5
        .bg-image.img6
        .bg-text= message
