html    
    head
        title= title
        link(rel='stylesheet' href='/css/photos.css')
    body
        h1= 'Photography is truth — Jean-Luc Godard'
        .imgwrap
            img(src="https://creedprod2.blob.core.windows.net/pictures/Keys.jpg", alt="keyboard partially in focus with headphones", class="IMG1")
            img(src="https://creedprod2.blob.core.windows.net/pictures/Dark Percussion.jpg", alt="drumset in fog", class="IMG2")
            img(src="https://creedprod2.blob.core.windows.net/pictures/level.jpg", alt="meters on a mixing board", class="IMG3")
            img(src="https://creedprod2.blob.core.windows.net/pictures/Parallel.jpg", alt="close up of keys on a piano", class="IMG4")
