html    
    head
        title= title
        link(rel='stylesheet' href='/css/photos.css')
    body
        h1= 'Photography is truth — Jean-Luc Godard'
            img(src="https://creedprod2.blob.core.windows.net/pictures/Keys.jpg", alt="drumset in fog", class="IMG1")